
body{
    background-color:#999;
}
.whole_signup_wrapper
{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;

}
.myFlex
{

    display: flex;
    width:236px;
    flex-direction: column;
}
.signup_header
{
    display:flex;
    margin:auto;
    padding:10px 20px;
    column-gap:20px;
}
.signup_header p{
    font-size:25px;
}
.signup_wrapper
{
    display:flex;
    justify-content:center;
    width:700px;
    margin:auto;
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: 3px 3px 3px white;
    column-gap:99px;
    padding:10px 0px 10px 0px;
}
.signup_first_col label
{
font-size:20px;
row-gap: 20px;
}
.signup_first_col input{
    font-size:15px;
    margin-bottom:15px;
    border-radius: 10px;
    padding:10px 15px;
    border:2px solid black;
}


#btn_signup
{
    background-color:red;
    text-align:center;
    color:white;
    font-size:20px;
    border-radius:10px;
    font-weight:300px;
    padding:10px 80px;
}

#dob
{
    width:198px;
}
.head_title_bold
{
font-weight:600;
}
